__pycache__/
*.py[cod]
.venv/
venv/
env/
 
.ipynb_checkpoints/
 
report/*.aux
report/*.log
report/*.out
report/*.toc
report/*.bbl
report/*.blg
report/*.synctex.gz
report/*.fls
report/*.fdb_latexmk
 
.DS_Store
Thumbs.db